@page "/categorydetails"
@using BlazorExpensesTracker.Model;

<h1>CategoryDetails</h1>

<EditForm Model="@category" OnValidSubmit="SaveCategory">
    <DataAnnotationsValidator/>
    @*<ValidationSummary/>*@
    <table>
        <tr>
            <td>
                Name
            </td>
            <td><input type="text" @bind="category.Name"/></td>
        </tr>
        <tr>
            <td>
                <ValidationMessage  For="@(() => category.Name)"/>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
            <td><input type="button" value="Cancel" /></td>
        </tr>
    </table>
</EditForm>


@code {
    Category category = new Category();

    protected void SaveCategory()
    {
        
    }
}
