@page "/expensetracker"
@using BlazorServerApp_expensesTrack.UI.Components
<h3>ExpenseTraker</h3>

<TabControl>
    <TabPage Text="Expense">
        <h3>
            Amounts will be negative
        </h3>
    </TabPage>
    <TabPage Text="Income">
        <h3>Anount Positive:</h3>
    </TabPage>
</TabControl>

@code {

}
