@page "/expensetracker"
@using BlazorServerApp_expensesTrack.UI.Components
<h3>ExpenseTraker</h3>

<TabControl>
    <TabTitle>
        <img src="images/@(context.ImageSource).png" />
        @context.Text
    </TabTitle>
    <ChildContent>
        <TabPage Text="Expense" ImageSource="minus">
            <ExpenseDetails ExpenseType="@BlazorExpensesTracker.Model.ExpenseType.Expense"></ExpenseDetails>
            <h3>
                Amounts will be negative
            </h3>
        </TabPage>
        <TabPage Text="Income" ImageSource="add">
            <ExpenseDetails ExpenseType="@BlazorExpensesTracker.Model.ExpenseType.Income"></ExpenseDetails>
            <h3>Anount Positive:</h3>
        </TabPage>
    </ChildContent>
</TabControl>
<ExpenseHistory/>

@code {

}
